<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    
    <link rel="stylesheet" href="/css/room.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
 
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- JS -->
    <script src="/js/menu.js"></script>

</head>
<body onresize="resizeMenu()">


    <%- include('../partials/nav') %>
    <main>
        <form action="/user/delete/<%= user.idUser %>?_method=DELETE" method="POST" enctype="multipart/form-data">
            <h2>¿Está seguro que desea eliminar este usuario?</h2>

            <div class="submit">
                <button type="submit" id="add">
                    <i class="bi bi-plus-circle"></i>
                    Confirmar
                </button>
            </div>
        </form>
        
        <div class="nombre">
            <p>Nombre:</p>
            <h4><%= user.nombreUser %></h4>
        </div>

        <br>

        <div class="apellido">
            <p>Apellido:</p>
            <h4><%= user.apellidoUser %></h4>
        </div>

        <br>

        <div class="mail">
            <p>Email:</p>
            <h4><%= user.mailUser %></h4>
        </div>

        <br>

        <div class="password">
            <p>Contraseña:</p>
            <h4><%= user.password %></h4>
        </div>

        <br>

        <div class="perfil">
            <p>Tipo de perfil:</p>
            <h4><%= user.perfilUser %></h4>
        </div>

        <br>

        <div class="foto">
            <p>Foto:</p>
            <h4><%= user.fotoPerfil %></h4>
        </div>
        <% if (user.fotoPerfil) {%>
            <img class="w-100" src="/img/usuarios/<%= user.fotoPerfil%>" alt="<%= user.nombreUser%>">
        <%} else {%>
            <p>Todavia no posee imagen</p>
        <%}%>

        <br>
        <br>

        <a href="/user/edit/<%= user.idUser %>">
            <button>
                <i class="bi bi-pencil"></i>
            </button>
        </a>

    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>