<%- include('../partials/fontsicons') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">
    
    <!-- Titulo -->
    <title>Cambiar foto</title>

</head>
<body onresize="resizeMenu()">

    <%- include('../partials/nav') %>

    <main class="editPic">

        <div class="caja-info">
            <div class="caja-rosa">
                <h3>Editar foto</h3>

                <div class="foto">
                    <% if (user.fotoPerfil) {%>
                        <img src="/img/usuarios/<%= user.fotoPerfil %>" alt="<%= user.nombre%>">
                    <%} else {%>
                        <img src="/img/usuarios/Profile.png" alt="No posee foto de perfil">
                    <%}%>
                </div>
            </div>

             
            <form method="POST" action="/user/changePassword?_method=PUT" enctype="multipart/form-data">
                <div class="opciones">
                    <input type="file" name="image" class="button-hidden">
    
                    <button class="button-rosa">Cargar imagen</button>
    
                    <div class="caja-texto">
                        <h5>Archivo seleccionado:</h5>
                        <p>Todavia no se seleccionó ninguna imagen</p>
                    </div>
    
                    <a href="/">
                        <button class="button-violeta">Guardar</button>
                    </a>
    
                    <a href="/">
                        <button class="button-gris">Cancelar y volver</button>
                    </a>
                </div>
            </form>

            <img class="golosinas" src="/img/estructura/golosinas.png" width="100px">

        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>