<%- include('../partials/fontsicons') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">
    
    <!-- Titulo -->
    <title>Cambiar foto</title>

</head>
<body onresize="resizeMenu()">

    <%- include('../partials/nav') %>

    <main class="editPic">

        <div class="caja-info">
            <div class="caja-rosa">
                <h3>Editar foto</h3>

                <div class="foto">
                    <% if (user.fotoPerfil) {%>
                        <div class="img" style="background-image: url('/img/usuarios/<%= user.fotoPerfil %>');">
                        </div>
                        <img src="/img/usuarios/<%= user.fotoPerfil %>" alt="<%= user.nombre%>">
                    <%} else {%>
                        <p>Todavia no posee imagen</p>
                    <%}%>
                </div>
            </div>

             
            <form action="">
                <input type="hidden" name="oldImagen" value="<%= user.fotoPerfil%>">
                <input type="file" name="image">


                <a href="/">
                    <button class="button-violeta">Guardar</button>
                </a>

                <a href="/">
                    <button class="button-gris">Cancelar y volver</button>
                </a>
            </form>

            <img class="golosinas" src="/img/estructura/golosinas.png" width="100px">

        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>