<%- include('../partials/fontsicons') %>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">

    <!-- Titulo -->
    <title>Mi Perfil</title>

</head>
<body onresize="resizeMenu()">

    <%- include('../partials/nav') %>
    <main class="infoPerfil">
        
        <div class="caja-info">
            <div class="caja-rosa">
                
                <h3>Mi Perfil</h3>
                
                <div class="foto">
                    <!-- <h4><%= user.fotoPerfil %></h4> -->
                    <% if (user.fotoPerfil) {%>
                        <img class="w-100" src="/img/usuarios/<%= user.fotoPerfil %>" alt="<%= user.nombre %>">
                    <%} else {%>
                        <img src="/img/usuarios/Profile.png" alt="Sin Foto">
                    <%}%>
                </div>

                <a href="/user/changePic">
                    <div class="button-editPic">
                        <i class="bi bi-pencil"></i>
                    </div>
                </a>

            </div>
    
            <div class="nombre">
                <p>Nombre:</p>
                <h4><%= user.nombre %></h4>
            </div>
    
            <div class="apellido">
                <p>Apellido:</p>
                <h4><%= user.apellido %></h4>
            </div>
    
            <div class="mail">
                <p>Email:</p>
                <h4><%= user.email %></h4>
            </div>
    
            <div class="perfil">
                <p>Tipo de perfil:</p>
                <h4><% if (user.isAdmin == false) { %>
                        Cliente
                    <% } else { %>
                        Administrador
                    <% } %>
                </h4>
            </div>
    
            <div class="telefono">
                <p>Teléfono:</p>
                <% if (user.telefono) {%>
                    <h4><%= user.telefono %></h4>
                <%} else {%>
                    <h4>Todavía no se registró <br>un número de teléfono</h4>
                <%}%>
            </div>

            <div class="opciones">
                <a href="/user/changePassword" class="button-rosa">
                    Cambiar mi contraseña
                </a>
        
                <a href="/user/edit" class="button-violeta">
                    Editar Perfil
                </a>
        
        
                <a href="/user/delete" class="button-gris">
                    Eliminar cuenta
                </a>
            </div>

            <img class="golosinas" src="/img/estructura/golosinas.png" width="100px">

        </div>

    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>