<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
 
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- JS -->
    <script src="/js/menu.js"></script>

</head>
<body onresize="resizeMenu()">


    <%- include('../partials/nav') %>
    <main class="editPerfil">
        <div class="caja-info">
            <div class="caja-rosa">
                    
                <h3>Editar Perfil</h3>
                
                <div class="foto">
                    <!-- <h4><%= user.fotoPerfil %></h4> -->
                    <% if (user.fotoPerfil) {%>
                        <img class="w-100" src="/img/usuarios/<%= user.fotoPerfil %>" alt="<%= user.nombre %>">
                    <%} else {%>
                        <img src="/img/usuarios/NoProfilePic.png" alt="Sin Foto">
                    <%}%>
                </div>
            </div>

            <form action="/user/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="input-group nombre">
                    <label for="nombreUser">Nombre:</label>
                    <input type="text" id="nombreUser" name="nombreUser" value="<%= user.nombre %>">

                    <!-- En caso de error -->
                    <div class="nombreError">
                    </div>
                </div>
            
                <div class="input-group apellido">
                    <label for="apellidoUser">Apellido:</label>
                    <input type="text" id="apellidoUser" name="apellidoUser" value="<%= user.apellido %>">

                    <!-- En caso de error -->
                    <div class="apellidoError">
                    </div>
                </div>
            
                <div class="input-group mail">
                    <label for="mailUser">Mail:</label>
                    <input type="text" id="mailUser" name="mailUser" value="<%= user.email %>">

                    <!-- En caso de error -->
                    <div class="mailError">
                    </div>
                </div>
            
                <div class="input-group telefono center">
                    <label for="telefonoUser">Telefono:</label>
                    <input type="text" id="telefonoUser" name="telefonoUser" value="<%= user.telefono %>">

                    <!-- En caso de error -->
                    <div class="telefonoError">
                    </div>
                </div>

                <div class="opciones">
                    <div class="submit">
                        <button type="submit" class="button-rosa">
                            GUARDAR CAMBIOS
                        </button>
                    </div>

                    <div class="submit">
                        <a href="/user/myProfile" class="button-gris">
                            Cancelar y volver
                        </a>
                    </div>
                </div>
            </form>
        
            <img class="golosinas-login" src="/img/estructura/golosinas.png">
        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>