<%- include('../partials/fontsicons') %>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">

    <!-- Titulo -->
    <title>Editar perfil</title>

</head>
<body onresize="resizeMenu()">

    <%- include('../partials/nav') %>

    <main class="editPerfil">
        <div class="caja-info">
            <div class="caja-rosa">
                    
                <h3>Editar Perfil</h3>
                
                <div class="foto">
                    <!-- <h4><%= user.fotoPerfil %></h4> -->
                    <% if (user.fotoPerfil) {%>
                        <img class="w-100" src="/img/usuarios/<%= user.fotoPerfil %>" alt="<%= user.nombre %>">
                    <%} else {%>
                        <img src="/img/usuarios/NoProfilePic.png" alt="Sin Foto">
                    <%}%>
                </div>
            </div>

            <form action="/user/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="input-group nombre">
                    <label for="nombreUser">Nombre:</label>
                    <input type="text" id="nombreUser" name="nombreUser" value="<%= user.nombre %>" pattern="[A-Za-z]{2,30}" maxlength="30">

                    <!-- En caso de error -->
                    <div class="nombreError">
                            <% if (locals.errors && errors.nombreUser) { %>
                                <div class="text-danger">
                                    <p><%= errors.nombreUser.msg %></p>
                                </div>
                            <% } %>
                    </div>
                </div>
            
                <div class="input-group apellido">
                    <label for="apellidoUser">Apellido:</label>
                    <input type="text" id="apellidoUser" name="apellidoUser" value="<%= user.apellido %>" pattern="[A-Za-z]{2,30}" maxlength="30">

                    <!-- En caso de error -->
                    <div class="apellidoError">
                            <% if (locals.errors && errors.apellidoUser) { %>
                                <div class="text-danger">
                                    <p><%= errors.apellidoUser.msg %></p>
                                </div>
                            <% } %>
                    </div>
                </div>
            
                <div class="input-group mail">
                    <label for="mailUser">Mail:</label>
                    <input type="text" id="mailUser" name="mailUser" value="<%= user.email %>" maxlength="50">

                    <!-- En caso de error -->
                    <div class="mailError">
                            <% if (locals.errors && errors.mailUser) { %>
                                <div class="text-danger">
                                    <p><%= errors.mailUser.msg %></p>
                                </div>
                            <% } %>
                    </div>
                </div>
            
                <div class="input-group telefono center">
                    <label for="telefonoUser">Telefono:</label>
                    <input type="text" id="telefonoUser" name="telefonoUser" maxlength="12"
                    <% if(user.telefono){ %> 
                        value="<%= user.telefono %>"
                    <% } else { %> 
                        placeholder="385-XXX-XXXX"
                    <% } %>
                    >
                    <!-- En caso de error -->
                    <div class="telefonoError">
                        
                    </div>
                </div>

                <div class="opciones">
                    <div class="submit">
                        <button type="submit" class="button-rosa">
                            GUARDAR CAMBIOS
                        </button>
                    </div>

                    <div class="submit">
                        <a href="/user/myProfile" class="button-gris">
                            Cancelar y volver
                        </a>
                    </div>
                </div>
            </form>
        
            <img class="golosinas" src="/img/estructura/golosinas.png">
        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>