<%- include('../partials/fontsicons') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">
    
    <!-- Titulo -->
    <title>Login</title>

</head>
<body onresize="resizeMenu()">

    <%- include('../partials/nav') %>

    <main class="login">

        <img class="golosinas-full arriba" src="/img/estructura/caramelo-rosa.png">

        <section class="login-body">

            <div class="logo-login">
                 <img src="/img/estructura/candyshop-sm.png" alt="Logo de CandyShop">
            </div>

            <form action="/user/login" method="post">

                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="E-mail" required>
                    
                    <!-- En caso de error -->
                    <div class="mailError">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <p><%= errors.email.msg %></p>
                            </div>
                        <% } %>
                    </div>
                </div>

                <div class="input-group">
                    <label for="password">Contraseña</label>
                    <div class="password-input">
                        <input type="password" id="password" name="password" placeholder="********" required>
                        <div type="none" class="ver" onclick="lookPassword()">
                            <i class="bi bi-eye"></i>
                        </div> 
                    </div>

                    <!-- En caso de error -->
                    <div class="passwordError">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>

                <label class="center check">
                    <input class="check-input" type="checkbox" id="recordar" name="recordar">
    
                    <span for="checkmark">
                        Recordar usuario y contraseña
                    </span>
                </label>
                
                <div class="center">
                    <a href="">
                        ¿Olvidaste tu contraseña?
                    </a>
                </div>
                
                <button type="submit" class="button-rosa">
                    Iniciar Sesión
                </button>

                <a href="/user/register" class="button-transparente">
                    <div>
                        ¿Todavía no posees una cuenta?
                        <br>
                        <strong>Registrarme</strong>
                    </div>
                </a>
            </form>
    
            <img class="golosinas-login" src="/img/estructura/golosinas.png">
        
        </section>

        <section class="extra-body">
            <p class="bienvenida">
                ¡Hola!<br>
                Bienvenido de nuevo
            </p>
            
            <div class="loop-caramelo">
                <img src="/img/estructura/osito.png" alt="chocolatito">
            </div>

            <div class="bienvenida">

                <a href="/user/register" class="button-transparente">
                    <div>
                        ¿Todavía no posees una cuenta?
                        <br>
                        <strong>Registrarme</strong>
                    </div>
                </a>
            </div>

        </section>

    </main>
    
    <%- include('../partials/footer') %>

    <!-- JS -->
    <script src="/js/loginV.js"></script>

</body>
</html>