<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">

    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body onresize="resizeMenu()">

    <%- include('../partials/nav') %>

        <main class="register">

            <img class="golosinas-full arriba" src="/img/estructura/caramelo-amarillo-lila.png">

            <section class="extra-body">

                <p class="bienvenida">
                    ¡Hola!<br>
                    Bienvenido a CANDY SHOP<br>
                </p>

                <div class="loop-caramelo">
                    <img src="/img/estructura/osito.png" alt="chocolatito">
                </div>

                <div class="bienvenida">

                    <a href="/user/login" class="button-transparente">
                        <div>
                            ¿Ya tienes una cuenta?
                            <br>
                            <strong>Iniciar Sesión</strong>
                        </div>
                    </a>
                </div>
            </section>

            <section class="register-body">

                <div class="logo-register">
                    <img src="/img/estructura/candyshop-sm.png" alt="Logo de CandyShop">
                </div>

                <form action="/user/register" method="POST">
                    <div class="input-group">
                        <label for="mailUser">E-mail</label>
                        <input type="email" id="mailUser" name="mailUser" placeholder="usuario@mail.com" required>
                        <% if (locals.errors && errors.mailUser) { %>
                            <div class="text-danger">
                                <%= errors.mailUser.msg %>
                            
                            </div>
                            <% } %>
                                <!-- En caso de error -->
                                <div class="mailError">
                                </div>
                    </div>

                    <div class="input-group">
                        <label for="nombreUser">Nombre:</label>
                        <input type="text" id="nombreUser" name="nombreUser" placeholder="Nombre" required>
                        <% if (locals.errors && errors.nombreUser) { %>
                            <div class="text-danger">
                                <%= errors.nombreUser.msg %>
                            
                            </div>
                            <% } %>
                        <!-- En caso de error -->
                        <div class="nombreError">
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="apellidoUser">Apellido:</label>
                        <input type="text" id="apellidoUser" name="apellidoUser" placeholder="Apellido" required>
                        <% if (locals.errors && errors.apellidoUser) { %>
                            <div class="text-danger">
                                <%= errors.apellidoUser.msg %>
                            
                            </div>
                            <% } %>
                        <!-- En caso de error -->
                        <div class="apellidoError">
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" placeholder="********" maxlength="16"
                            required>
                        <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %>
                                
                                </div>
                            <% } %>
                        <!-- En caso de error -->
                        <div class="passwordError">
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="confirmPassword">Confirmar Contraseña:</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="********"
                            maxlength="16" required>
                        <% if (locals.errors && errors.confirmPassword) { %>
                                <div class="text-danger">
                                    <%= errors.confirmPassword.msg %>
                                
                                </div>
                            <% } %>
                        <!-- En caso de error -->
                        <div class="confirmacionError">
                        </div>
                    </div>

                    <label class="center check">
                        <input class="check-input" type="checkbox" id="tyc" name="tyc">

                        <span for="checkmark">
                            Acepto <a href="linkDeTerminosYCondiciones" target="_blank">términos y
                                condiciones</a>
                        </span>
                    </label>

                    <button type="submit" class="button-rosa">
                        Registrarme
                    </button>

                    <a href="/user/login" class="button-transparente">
                        <div>
                            ¿Ya tienes una cuenta?
                            <br>
                            <strong>Iniciar Sesión</strong>
                        </div>
                    </a>
                </form>


                <img class="golosinas-register" src="/img/estructura/golosinas.png">

            </section>

        </main>

        <%- include('../partials/footer') %>


            <!-- JS -->
            <script src="/js/menu.js"></script>
            <script src="/js/registroV.js"></script>

</body>

</html>