<%- include('../partials/fontsicons') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/general.css">


    <!-- Titulo -->
    <title>Eliminar producto</title>

    </head>

    <body>

        <%- include('../partials/nav') %>

            <main>
                <div class="containerAdd">
                    <div class="deleted-product">
                        <h1>Eliminar Producto</h1>
                    </div>
                </div>
                <div class="products">
                    <form action="/productos/delete/<%= product.id %>?_method=DELETE" method="POST">
                        <div class="input-nombre">
                            <label class="label-titulos" for="nombre">
                                Nombre del producto
                            </label>
                            <div>
                                <h3 class="i-nombre">
                                    <%= product.nombre %>
                                </h3>
                            </div>
                            <div class="input-sabor">
                                <label class="label-titulos" for="sabor">
                                    Línea de producto
                                </label>
                                <h3 class="i-sabor"><%= product.sabor %></h3>
                            </div>

                            <div class="group-imagen">
                                <% if (product.fotoProd) {%>
                                    <img class="w-100" src="/img/productos/<%= product.fotoProd%>"
                                        alt="<%= productToEdit.nombre%>">
                                    <%} else {%>
                                        <p>Todavia no posee imagen</p>
                                        <%}%>
                            </div>
                        </div>

                        <div class="input-stock">
                            <label class="label-titulos" for="stock">Stock</label>
                            <h3 class="i-stock">
                                <%= product.stock %>
                            </h3>

                        </div>
                        <div class="input-precio">
                            <label class="label-titulos" for="precio">Precio</label>


                            <h3 class="i-precio">
                                <%= product.precio %>
                            </h3>


                        </div>
                        <div class="input-descripcion">
                            <label class="label-titulos" for="descripcion">Descripción</label>
                            <h3 class="i-descripcion">
                                <%= product.descripcion %>
                            </h3>
                        </div>
                        <div class="input-categoria">
                            <label class="label-titulos" for="nombre">Categoría</label>
                            <h3 class="i-categoria" name="categoriaProd" id="categoriaProd">
                                <% categorias.forEach(categoria=> { %>
                                    <% if (categoria.id===product.idCat) { %>
                                        <option value="<%= categoria.id %>" selected>
                                            <%= categoria.nombre %>
                                        </option>
                                        <% } %>
                                            <% }); %>
                            </h3>

                        </div>
                        <div class="eliminar">
                            <button type="submit" class="button-rosa">
                                Eliminar Producto
                            </button>
                        </div>
                        <div class="cancelar">
                            <a href="/productos/all/0" class="button-gris">Cancelar</a>
                           
                        </div>
                    </form>
                </div>
            </main>

            <%- include('../partials/footer') %>
    </body>

    </html>