<%- include('../partials/fontsicons') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">

    <!-- Titulo -->
    <title>Productos</title>

</head>
<body>

    <%- include('../partials/nav') %>

    <main>
        <!-- Slider -->
        <div id="banner">
            <div class="bannerNav">
                <button id="btn-banner1" class="bannerBtn-activo" onclick="changeBanner(1)">
                </button>

                <button id="btn-banner2" class="bannerBtn" onclick="changeBanner(2)">
                </button>

                <button id="btn-banner3" class="bannerBtn" onclick="changeBanner(3)">
                </button>
            </div>
        </div>
        
        <section class="bars"> 
            <div class="centrar">
                <div class="dropdown">
                    <div class="select-cat">
                        <button class="dropbtn">Categorias</button>
                        <div class="dropdown-content">
                            <a href="/productos/list/0">Todos</a>
                            <% categorias.forEach(element => {%>
                                <a href="/productos/list/0/<%= element.id %>" class="dropdown-item">
                                    <li>
                                        <%= element.nombre%>
                                    </li>
                                </a>
                            <%});%>
                        </div>
                    </div>
                </div>
            </div>

            <div class="productos">
                <% products.forEach(product => { %>
                    <article class="golosina">
                        <a href="/productos/detail/<%= product.id %>">
                            <% if (product.fotoProd != null) {%>
                                <img src="/img/productos/<%= product.fotoProd %>" alt="">
                                <script>
                                    console.log(product.fotoProd)
                                </script>
                            <%} else {%>
                                <img src="/img/productos/NoPic.png" alt="">
                            <%}%>
                            <div class="detail">
                                <div class="subtitulo"> <%= product.dataValues.categoria %> </div>
                                <div class=""> <%= product.nombre %> </div>
                                <div class=""> <%= product.sabor %> </div>  
                            </div>                  
                        </a>
                            
                        <div class="catalog-form">
                            <form method="post">
                                <div class="precio">
                                    <p class="subtitulo">Precio:</p>
                                    $ <%= product.precio %> c/u
                                </div>
                                <div class="input-button-add"> 
                                    <input type="text" placeholder="1"> 
                                    <button class="add-to-cart" type="submit">
                                        <i class="bi bi-cart-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </article>
                <% }) %>
            </div>

        </section>

        <div class="paginacion">
            <ul class="page-numbers">
                <% if (paginaActual>=1) {%>
                    <li><a href="/productos/list/<%= paginaActual-1 %>"><i class="bi bi-chevron-left active"></i></a></li>
                <% }else{ %>
                    <li><i class="bi bi-chevron-left noactive"></i></li>

                <%} paginas.forEach(pagina => { %>
                    <% if (paginaActual == pagina) {%>
                        <li class="noactive">
                            <%= pagina + 1 %>
                        </li>
                    <% }else{ %>
                    <li>
                        <a href="/productos/list/<%=pagina%>">
                            <%= pagina + 1 %>
                        </a>
                    </li>
                    <% } %>
                <% }) %>

                <% if (paginaActual <= (paginas.length-2)) {%>
                    <li><a href="/productos/list/<%= paginaActual+1 %>"><i class="bi bi-chevron-right active"></i></a></li>
                <% }else{ %>
                    <li><i class="bi bi-chevron-right noactive"></i></li>
                <% } %>
            </ul>
        </div>

    </main>


    <%- include('../partials/footer') %>

    
    <!-- JS -->
    <script src="/js/banner.js"></script>
</body>

</html>