<%- include('../partials/fontsicons') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">
    
    <!-- Titulo -->
    <title>Crear Producto</title>

</head>
<body onresize="resizeMenu()">

    <%- include('../partials/nav') %>

    <main>
        <div id="banner-rosa">
        </div>

        <div class="containerAdd">
            <div class="add-product">
                <h1>
                    Nuevo producto
                </h1>
            </div>
        </div>
        <div class="products">

            <form action="/productos/all/0" method="POST" enctype="multipart/form-data">

                <div class="group-general"> 
                    <h2>
                        General
                    </h2>

                    <div class="input-nombre">
                        <label class="label-titulos" for="nombre">
                            Nombre del producto
                        </label>
                        <input type="text" class="i-nombre" id="nombre" name="nombre" placeholder="Nombre de producto"
                        value="<%= locals.oldData ? oldData.nombre : null  %>">
                        <!-- En caso de error -->
                        <div class="error-validate">
                        <% if (locals.errors && errors.nombre) { %>
                            <div class="text-danger">
                                <p><%= errors.nombre.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    </div>

                    <div class="input-sabor">
                        <label class="label-titulos" for="sabor">
                            Línea de producto
                        </label>
                        <input type="text" class="i-sabor" id="sabor" name="sabor" placeholder="Sabor Manzana"
                        value="<%= locals.oldData ? oldData.sabor : null  %>">
                        <!-- En caso de error -->
                        <div class="error-validate">
                        <% if (locals.errors && errors.sabor) { %>
                            <div class="text-danger">
                                <p><%= errors.sabor.msg %></p>
                            </div>
                        <% } %>
                        </div>
                    </div>

                    <div class="input-descripcion">
                        <label class="label-titulos" for="descripcion">
                            Descripción
                        </label>
                        <input type="text" class="i-descripcion" id="descripcion" name="descripcion" placeholder="Escriba una descripción del producto..."
                        value="<%= locals.oldData ? oldData.descripcion : null  %>">
                        <!-- En caso de error -->
                        <div class="error-validate">
                        <% if (locals.errors && errors.descripcion) { %>
                            <div class="text-danger">
                                <p><%= errors.descripcion.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    </div>
                </div>


                <div class="group-stock">
                    <h2>Stock</h2>

                    <div class="input-stock">
                        <label class="label-titulos" for="stock">
                            Stock disponible
                        </label>
                        <input type="text" class="i-stock" name="stock" placeholder="1000"
                        value="<%= locals.oldData ? oldData.stock : null  %>">
                        <!-- En caso de error -->
                        <div class="error-validate">
                            <% if (locals.errors && errors.stock) { %>
                         <div class="text-danger">
                                <p><%= errors.stock.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    </div>
                </div>


                <div class="group-precio">
                    <h2>Precio</h2>

                    <div class="input-precio">
                        <label class="label-titulos" for="precio">
                            Precio
                        </label>
                        <input type="text" class="i-precio" name="precio" placeholder="150"
                        value="<%= locals.oldData ? oldData.precio : null  %>">
                        <!-- En caso de error -->
                        <div class="error-validate">
                        <% if (locals.errors && errors.precio) { %>
                            <div class="text-danger">
                                <p><%= errors.precio.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    </div>
                </div>


                <div class="group-imagen">
                    <h2>Imagen</h2>

                    <div class="input-imagen" >
                        <label class="label-titulos" for="image">
                            Imagen seleccionada
                        </label>
                        <input  class="i-image" type="file" id="image" name="image">
                    </div>
                </div>
                <div class="error-validate">
                <% if (locals.errors && errors.image) { %>
                    <div class="text-danger">
                        <p><%= errors.image.msg %></p>
                    </div>
                <% } %>
                </div>


                <div class="group-categoria">
                    <h2>Categoría</h2>

                    <div class="input-categoria">
                        <label class="label-titulos" for="nombre">
                            Categoría
                        </label>
                  
                        <!-- Select de categorias existentes -->
                        <select class="i-categoria" name="categoriaProd" id="categoriaProd">
                            <option value="">Elige una categoria</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= categoria.id %>"> <%= categoria.nombre %> </option>
                            <% }) %>
                        </select>
                        
                        <!-- En caso de error -->
                        <div class="error-validate">
                        <% if (locals.errors && errors.categoriaProd) { %>
                            <div class="text-danger">
                                <p><%= errors.categoriaProd.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    </div>
                </div>

                <div class="group-info-nutricional">
                    <h2>
                        Información nutricional
                    </h2>

                    <input type="checkbox"> 
                    ¿Desea cargar luego la información nutricional del producto?
                </div>
                
                <!-- <div class="input-imagen">
                    <label class="label-titulos" for="image">Imagen seleccionada</label>
                    <input type="file" id="image" name="image">
                </div> 

                <div class="contenedor-tipo">
                    <label class="label-titulos" for="nombre">Tipo</label>
                    <div class="contenedor-input-tipo">
                        <input type="text" class="input-tipo" name="tipoProd" placeholder="Caramelo Masticable">
                    </div>
                </div> -->

                <div class="guardar">
                    <button type="submit" class="button-violeta">
                        Guardar producto
                    </button>
                </div>

                <div class="cancelar">
                    <a href="/productos/all/0" class="button-gris">Cancelar</a>
                   
                </div>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>

</html>