<%- include('../partials/fontsicons') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">
    
    <!-- Titulo -->
    <title><%= product.nombre %></title>
    
</head>
<body>
    
    <%- include('../partials/nav') %>
    <main>
        <div id="banner-rosa">
        </div>

        <div class="caja-detalle-prod">
            <section class="detalle-prod">
                <a class="button-rosa" href="/productos/list/0">
                    Volver
                </a>
                <article class="detalle-form-prod">
                    <% if (product.fotoProd != null) {%>
                        <img src="/img/productos/<%= product.fotoProd %>" alt="<%= product.nombre %>">
                    <%} else {%>
                        <img src="/img/productos/NoPicSM.png" alt="No posee foto. '<%= product.nombre %>'">
                    <%}%>
                    <div class="nombre-completo-prod">
                        <div class="subtitulo"> <%= product.dataValues.categoria %> </div>
                        <div class=""> "<%= product.nombre %>" </div>
                        <div class=""> <%= product.sabor %> </div>  
                    </div>
                    <form method="post">
                        <div class="precio">
                            <p class="subtitulo">Precio:</p>
                            $ <%= product.precio %> c/u
                        </div>
                        <div class="input-button-add"> 
                            <input type="text" placeholder="1"> 
                            <button class="add-to-cart" type="submit">
                                <i class="bi bi-cart-plus"></i>
                            </button>
                        </div>
                    </form>
                </article>

                <div class="descripcion-prod">
                    <h4>Descripción del producto:</h4>
                    <%= product.descripcion %>
                </div>

                <div class="infoNutricional-prod">
                    <h4 class="text-left">Información nutricional:</h4>

                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">En base a una porción de:</th>
                                <th class="text-right"><%= product.dataValues.porcion %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Valor energético</td>
                                <td class="text-right"><%= product.dataValues.valorEnerg %> kCal</td>
                            </tr>
                            <tr>
                                <td>Proteina</td>
                                <td class="text-right"><%= product.dataValues.proteina %> g</td>
                            </tr>
                            <tr>
                                <td>Sodio</td>
                                <td class="text-right"><%= product.dataValues.sodio %> g</td>
                            </tr>
                            <tr>
                                <td>Fibra Alimentaria</td>
                                <td class="text-right"><%= product.dataValues.fibraAlim %> g</td>
                            </tr>
                            <tr>
                                <td>Grasas Totales</td>
                                <td class="text-right"><%= product.dataValues.grasaTotal %> g</td>
                            </tr>
                            <tr>
                                <td>Grasas Saturadas</td>
                                <td class="text-right"><%= product.dataValues.grasaSaturada %> g</td>
                            </tr>
                            <tr>
                                <td>Grasas Trans</td>
                                <td class="text-right"><%= product.dataValues.grasaTrans %> g</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mas-infoNutricional">
                        <%= product.dataValues.otros %>
                    </div>
                </div>
                
            </section>

            <section id="acompaniar">
                <div class="contenedor">
                    <h2>Acompaña tu compra con:</h2>
    
                    <article class="producto">
                        <div>
                            <img src="/img/productos/flynnpaff-banana.png" alt="Flynn Paff Banana">  
                            <div class="precioUnitario-xs">
                                <h6>Precio</h6>
                                <p>$ 150,00 c/u</p>
                            </div>
                        </div>
                        <div>
                            <h6>Caramelo masticable</h6>
                            <p>"FLYNN PAFF"</p>
                            <p>Sabor Banana</p>
    
                            <div class="descripcionProducto">
                                Caramelos masticables GEORGALOS "Flynn Paff: Sabor Banana" (Por unidad)
                            </div>
    
                            <div class="precioUnitario-lg">
                                <h4>$ 150,00</h4>
                            </div>     
                            <div class="agregarproducto">
                                <input type="text" id="cantidad-mas" name="cantidad" maxlength="3" placeholder="0">
                                <button><i class="bi bi-cart-plus-fill"></i></button>
                            </div>
                        </div>
                        <div class="agregarproducto-lg">
                            <button class="btn-rosa">Agregar al carrito</button>
                        </div>
                    </article>
    
                    <article class="producto">
                        <div>
                            <img src="/img/productos/flynnpaff-uva.png" alt="Flynn Paff Uva">
                            <div class="precioUnitario-xs">
                                <h6>Precio</h6>
                                <p>$ 150,00</p>
                            </div>
                        </div>
                        <div>
                            <h6>Caramelo masticable</h6>
                            <p>"FLYNN PAFF"</p>
                            <p>Sabor Uva</p>
    
                            <div class="descripcionProducto">
                                Caramelos masticables GEORGALOS "Flynn Paff: Sabor Uva" (Por unidad)
                            </div>
    
                            <div class="precioUnitario-lg">
                                <h4>$ 150,00</h4>
                            </div>
                            <div class="agregarproducto">
                                <input type="text" id="cantidad-mas" name="cantidad" maxlength="3" placeholder="0">
                                <button><i class="bi bi-cart-plus-fill"></i></button>
                            </div>
                        </div>
                        <div class="agregarproducto-lg">
                            <button class="btn-rosa">Agregar al carrito</button>
                        </div>
                    </article>
    
                    <article class="producto">
                        <div>
                            <img src="/img/productos/flynnpaff-frutilla.png" alt="Flynn Paff Frutilla">
                            <div class="precioUnitario-xs">
                                <h6>Precio</h6>
                                <p>$ 150,00</p>
                            </div>
                        </div>
                        <div>
                            <h6>Caramelo masticable</h6>
                            <p>"FLYNN PAFF"</p>
                            <p>Sabor Frutilla</p>
    
                            <div class="descripcionProducto">
                                Caramelos masticables GEORGALOS "Flynn Paff: Sabor Frutilla" (Por unidad)
                            </div>
    
                            <div class="precioUnitario-lg">
                                <h4>$ 150,00</h4>
                            </div>
                            <div class="agregarproducto">
                                <input type="text" id="cantidad-mas" name="cantidad" maxlength="3" placeholder="0">
                                <button><i class="bi bi-cart-plus-fill"></i></button>
                            </div>
                        </div>
                        <div class="agregarproducto-lg">
                            <button class="btn-rosa">Agregar al carrito</button>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </main>
    <%- include('../partials/footer') %>
    
</body>
</html>