<%- include('../partials/fontsicons') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/general.css">

    <!-- Titulo -->
    <title>Listado de Productos</title>

</head>

<body>

    <%- include('../partials/nav') %>
        <main>
            <div id="banner-rosa">
            </div>

            <div class="cuerpo">
                <div class="container">
                    <div class="add-product">
                        <h1>Productos</h1>
                        <a href="/productos/create">
                            <button type="button" id="add">
                                <i class="bi bi-plus-circle"></i>
                            </button>
                        </a>
                    </div>
        
                    <form action="#" method="GET">
                        <input type="text" class="input-search" placeholder="Buscar productos por nombre o código">
                    </form>
                </div>
        
                <div class="nav-products">
                    
                    <div class="action">
                     
                    </div>
                </div>
        
                <div class="products">
                    <% products.forEach(product => { %>
                        <article class="product">
                            <div class="left">
                                <div class="top">
                                    <div class="imagen">
                                        <% if (product.fotoProd != null) {%>
                                            <img src="/img/productos/<%= product.fotoProd %>" alt="<%= product.nombre %>">
                                        <%} else {%>
                                            <img src="/img/productos/NoPicSM.png" alt="No posee foto <%= product.nombre %>">
                                        <%}%>
                                    </div>
    
                                    <div class="texto">
                                        
                                        <div class="code">
                                            <%= product.id %>
                                        </div>

                                        <div class="categoria">
                                            <%= product.dataValues.categoria %>
                                        </div>
    
                                        <div class="nombre">
                                            "<%= product.nombre %>"
                                        </div>
    
                                        <div class="sabor">
                                            <%= product.sabor %>
                                        </div>
        
                                        <div class="price">
                                            $ <%= product.precio %>
                                        </div>
        
                                        <div class="stock">
                                            <%= product.stock %> u
                                        </div>
                                    </div>
                                </div>
    
                                <div class="bottom">
                                    <div class="code">
                                        <p>Código:</p>
                                        <%= product.id %>
                                    </div>
    
                                    <div class="price">
                                        <p>Precio:</p>
                                        $ <%= product.precio %>
                                    </div>
    
                                    <div class="stock">
                                        <p>Stock:</p>
                                        <%= product.stock %> u
                                    </div>
                                </div>
                            </div>
    
                            <div class="right">
                                <div class="details">
                                    <a href="/productos/detail/<%= product.id %>">
                                        <i class="bi bi-list-columns"></i>
                                    </a>
                                </div>
                                
                                <div class="edit">
                                    <a href="/productos/edit/<%= product.id %>">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                </div>
    
                                <div class="delete">
                                    <a href="/productos/delete/<%= product.id %>">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </div>
    
                        </article>
                    <% }) %>    
                </div>
        
                <div class="paginacion">
                    <ul class="page-numbers">
                        <% if (paginaActual>=1) {%>
                            <li><a href="/productos/all/<%= paginaActual-1 %>#caramelos"><i class="bi bi-chevron-left active"></i></a></li>
                        <% }else{ %>
                            <li><i class="bi bi-chevron-left noactive"></i></li>
        
                        <%} paginas.forEach(pagina => { %>
                            <% if (paginaActual == pagina) {%>
                                <li class="noactive">
                                    <%= pagina + 1 %>
                                </li>
                            <% }else{ %>
                                <li>
                                    <a href="/productos/all/<%=pagina%>#caramelos">
                                        <%= pagina + 1 %>
                                    </a>
                                </li>
                            <% } %>
                        <% }) %>
        
                        <% if (paginaActual <= (paginas.length-2)) {%>
                            <li><a href="/productos/all/<%= paginaActual+1 %>#caramelos"><i class="bi bi-chevron-right active"></i></a></li>
                        <% }else{ %>
                            <li><i class="bi bi-chevron-right noactive"></i></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </main>

    <%- include('../partials/footer') %>
</body>

</html>