<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>

    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/listProducto.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- JS -->
    <script src="/js/menu.js"></script>
    <script src="/js/banner.js"></script>
</head>

<body>

    <%- include('../partials/nav') %>

        <main>
            <div id="banner-rosa">
            </div>

            <div class="container">
                <div class="add-product">
                    <h1>Productos</h1>
                    <a href="/listadoProductos/create">
                        <button type="button" id="add">
                            <i class="bi bi-plus-circle"></i>
                        </button>
                    </a>
                </div>

                <form action="#" method="GET">
                    <!-- <div class="input">
                        Buscar productos por nombre o código
                        <div>
                            <i class="bi bi-search">
                                <p class="buscar">Buscar</p>
                            </i>
                        </div>
                    </div> -->
                    <input type="text" class="input-search" placeholder="Buscar productos por nombre o código">
                </form>
            </div>

            <div class="nav-products">
                <div class="info">
                    <li>Foto</li>
                    <li>Cat</li>
                    <li>Nombre</li>
                    <li>Precio</li>
                    <li>Stock</li>
                </div>
                <div class="action">
                    <li>Acciones</li>
                </div>
            </div>
            <div class="products">

                <% products.forEach(product => { %>
                    <article class="product">
                        <div class="left">
                            <div class="top">
                                <div class="imagen">
                                    <% if (product.fotoProd != null) {%>
                                        <img src="/img/productos/<%= product.fotoProd %>" alt="">
                                    <%} else {%>
                                        <p>No posee imagen</p>
                                    <%}%>
                                </div>

                                <div class="texto">
                                    <div class="categoria">
                                        <% categorias.forEach(categoria => { %>
                                            <% if (product.idCat == categoria.id) { %>
                                                <%= categoria.nombre %>
                                        <%}else{}})%>
                                    </div>

                                    <div class="nombre">
                                        "<%= product.nombre %>"
                                    </div>

                                    <div class="sabor">
                                        <%= product.sabor %>
                                    </div>

                                    <div class="code">
                                        <%= product.id %>
                                    </div>
    
                                    <div class="price">
                                        $ <%= product.precio %>
                                    </div>
    
                                    <div class="stock">
                                        <%= product.stock %> u
                                    </div>
                                </div>
                            </div>

                            <div class="bottom">
                                <div class="code">
                                    <p>Código:</p>
                                    <%= product.id %>
                                </div>

                                <div class="price">
                                    <p>Precio:</p>
                                    $ <%= product.precio %>
                                </div>

                                <div class="stock">
                                    <p>Stock:</p>
                                    <%= product.stock %> u
                                </div>
                            </div>
                        </div>

                        <div class="right">
                            <div class="details">
                                <a href="/listadoProductos/detail/<%= product.id %>">
                                    <i class="bi bi-list-columns"></i>
                                </a>
                            </div>
                            
                            <div class="edit">
                                <a href="/listadoProductos/edit/<%= product.id %>">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </div>

                            <div class="delete">
                                <a href="/listadoProductos/delete/<%= product.id %>">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </div>

                    </article>
                <% }) %>    
            </div>

            <div class="pagination">
                <a href=""><</a>
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">></a>
            </div>
        </main>

        <%- include('../partials/footer') %>
</body>

</html>